#videoBg {
  position: fixed;
  /* right: 0;
  bottom: 0; */
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background: url(../images/mav_img_width.png) ;
  background-size: cover;
}

/* @media only screen and (max-width: 800px) { */
@media all and (orientation:portrait) {
  body {
    background: url(../images/mav_img_length.png) no-repeat fixed center;
    width: 100%;
    background-size: cover;
  }
  #videoBg {
    display: none;
  }
}

#club-name {
  font-family: 'Paytone One', sans-serif;
  font-size: 5rem;
  font-size: 10rem;
  text-align: center;
}

.section-padding {
  padding: 15rem;
  text-align: center;
}

#recruiting-p {
  font-weight: 800;
  font-size: 3rem;
  /* color: aquamarine; */
}

#applyBtn a {
  margin-top: 2rem;
  background-color: var(--color-blue-600);
  border: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white-0);
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  /* font-weight: 400; */
}

.video {
  position: absolute;
  width: 100%;
  /* min-height: 100%; */
  padding-bottom: 56.25%;
  opacity: 0.5;
  z-index: -1;
}