.recruitment-title {
  font-weight: 900;
  font-size: 1.7rem;
}

#applyBtn a {
  margin-top: 3rem;
  background-color: var(--color-blue-600);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white-0);
  text-decoration: none;
  text-align: center;
}

#applyBtn a:hover {
  background-color: var(--color-blue-300);
}


.listTitle {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.ulItem {
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.liItem {
  padding: 10px;
}

.section-padding {
  padding: 150px 300px 150px 300px;

}

.section-top {
  /* background-color: rgb(230, 244, 255); */
  background-color: var(--color-blue-0);
}

.section-middle {
  background-color: var(--color-white-0);
}

/* 모집 일정 */
.recruitment-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem 1rem 20rem;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: var(--color-white-0)
}

.recruitment-box-item {
  background-color: var(--color-grey-100);
  border-radius: 20px;
  /* white-space: 10px; */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  padding: 1rem 2rem 1rem 2rem;

}

.big-arrow {
  font-size: 50px;
}