.recruitment-title {
  font-weight: 900;
  font-size: 1.7rem;
}

#applyBtn a {
  margin-top: 3rem;
  background-color: var(--color-blue-600);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white-0);
  text-decoration: none;
  text-align: center;
}

#applyBtn a:hover {
  background-color: var(--color-blue-300);
}


.listTitle {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 3rem;
}

.ulItem {
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.liItem {
  padding: 10px;
}

.section-padding {
  padding: 150px 300px 150px 300px;
  padding: 9rem 18rem;
  text-align: center;

}
/* 
.section-top {
  background-color: var(--color-blue-0);
} */

.section-middle {
  /* background-color: var(--color-white-0); */
  text-align: center;
  
}

.recruitment-box {
  color: var(--color-grey-900);
}

/* 모집 일정 */
.recruitment-box {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 10rem 0 10rem;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  
  /* background-color: var(--color-white-0) */
}

.recruitment-box-item {
  background-color: var(--color-grey-100);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 10rem;
}
.recruitment-box-item h2 {
  height: 50%;
}

.big-arrow {
  font-size: 50px;
  padding-top: 4rem;
  color: var(--color-white-0);
}

@media (max-width: 48rem) {
  .big-arrow {
    display: none;
  }
}