#img-container {
  margin: 0 auto;
  /* align-items: center; */
  width: 700px;
}
img {
  max-width: 100%;
}

header {
  text-align: center;
}

body {
  margin: 0 auto;
  /* background-color: var(--color-blue-900); */
  /* background-color: var(--color-white-0); */
  /* background-color: var(--color-blue-0); */
}
