html {
  --color-blue-100: rgb(173, 173, 255);
  --color-blue-300: rgb(126, 126, 255);
  --color-blue-600: rgb(74, 74, 255);
  --color-blue-900: rgb(2, 0, 19);

  --color-blue-0: rgb(242, 246, 255);

  --color-white-0: rgb(254, 254, 254);

  --color-grey-100: rgb(236, 236, 236);
  --color-grey-200: rgba(236, 236, 236, 0.819);
  --color-grey-400: rgb(139, 139, 139);
  --color-grey-600: rgb(58, 58, 58);
  --color-grey-900: rgb(41, 41, 41);

  scroll-behavior: smooth;
}

body {
  color: var(--color-grey-900);
  color: var(--color-blue-0);
  font-family: 'Gothic A1', sans-serif;
  margin: 0;
  background-color: var(--color-white-0);
  background-color: var(--color-blue-0);
  background-color: var(--color-blue-900);
  background-color: #0e0c27;
}

a {
  color: rgb(2, 0, 19);
  text-decoration: none;
}

#main-header {
  font-family: 'Paytone One', sans-serif;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-white-0); */
  /* background-color: rgba(2, 0, 19, 0.8); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0) 100%);
  padding: 0 5%;
}

#main-header a {
  color: var(--color-grey-900);
  color: var(--color-white-0);
}

#page-logo {
  font-size: 2rem;
  font-weight: bold;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

footer {
  text-align: center;
  padding: 2rem;
}

#footer-p {
  font-size: 2rem;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey-900);
}

.menu-btn-on span {
  background-color: var(--color-blue-0);
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
  font-family: 'Quicksand', sans-serif;
}

#main-header a:hover {
  color: var(--color-blue-600);
}

.section-padding {
  padding: 5% 5%;
}



/* 햄버거 */
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 20, 47, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: var(--color-blue-0);
  font-size: 2rem;
}


@media (max-width: 800px) {
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #latest-products ul {
    grid-template-columns: 100%;
  }
}

/* 햄버거  끝*/


main p {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.5rem;
}

.color-blue-100 {
  color: var(--color-blue-100);
}

.color-blue-300 {
  color: var(--color-blue-300);
}

.color-blue-600 {
  color: var(--color-blue-600);
}

/* navigation animation */
.nav-underline {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.nav-underline:after {
  display: block;
  content: '';
  border-bottom: solid 1px var(--color-blue-600);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-underline:hover:after {
  transform: scaleX(1);
}

/*  */
@media all and (orientation:portrait) {
  body {
    background: url(../images/mav_img_length.png) no-repeat fixed center;
    width: 100%;
    background-size: cover;
  }
  #videoBg {
    display: none;
  }
}